html {
    scroll-behavior:smooth;
    scroll-snap-type: y proximity;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}




body {
    color: #777;
    line-height: 1.4;
}

ul {
    list-style: none;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin: 40px auto;

}

@keyframes down {
    0%{
        opacity: 0;
        transform: translateY(20px)
    }

    0%{
        opacity: 1;
        transform: translateY(-60px)
    }
}


/*-----------------------
HEADER
-----------------------*/
.img_top {
    height: 60px;
    width: 60px;
    border-radius: 60%;
    margin-right: 30px;
}

header h4 {
    margin-left: -100px;
    margin-right: 300px;
}

header {
    background-color: #fff;
    position:sticky;
    z-index: 1;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    color: #000;
    box-shadow: 10px 2px 7px 5px #4643;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in-out;
    padding: 7px 0px;
}

#arrowDown {
    font-size: 50px;
    position: fixed;
    left: 50%;
    right: 50%;
    top: -23px;
    background-color: transparent;
    color: #FF5B72;
    animation: down 1s ease;
    animation-fill-mode: forwards;
    transition: all 1s ease;
    display: none;
    border: 0px solid;

}


header a {
    padding: 0 20px;
    text-decoration: none;
    color: #FF5B72;
    cursor: pointer;
}

.l3 {
    padding: 0 20px;
}

header a.l1:hover {
    color:white;
    padding: 27px 40px;
    margin: 0px -20px;
    background-color: #FF5B72;
    border-radius: 50px;
    transition: 0.5s ease;
}



header a.l4:hover {
    color:white;
    background-color: #FF5B72;
    padding: 27px 40px;
    margin: 0px -20px;
    border-radius: 35px;
    transition: 0.5s ease;
}

header a.l5:hover {
    color:white;
    background-color: #FF5B72;
    padding: 27px 40px;
    margin: 0px -20px;
    border-radius: 35px;
    transition: all 0.1s ease;
}

header a.l6:hover {
    color:white;
    background-color: #FF5B72;
    padding: 27px 40px;
    margin: 0px -20px;
    border-radius: 35px;
    transition: 0.5s ease;
}

header a.l1:active {
    background-color: #60C5F4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    transition: all .5s linear;
}

header a.l2:active {
    background-color: #60C5F4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    transition: all .5s linear;
}

header a.l3:active{
    background-color: #60C5F4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    transition: all .5s linear;
}



header a.l4:active {
    background-color: #60C5F4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    transition: all .5s linear;
}

header nav ul {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav li {
    margin: 0px 10px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media(max-width:1000px) {
    header {
        text-align: center;
        flex-direction: column;
        padding: 20px 50px;
    }

    header img {
        width: 75%;
    }

    header nav {
        justify-content: space-around;
    }

    header nav li {
        margin: 0 10px;
    }

    header nav ul{
        font-size: 14px;
    }

    header a{
        padding: 3px;
    }
    header a.l1:hover{
        padding: 3px;
        padding-bottom: 20px;
    }
    header a.l2:hover{
        padding: 3px;
        padding-bottom: 20px;
    }
    header a.l3:hover{
        padding: 3px;
       padding-bottom: 20px;

    }
    header a.l4:hover{
        padding: 3px;
        padding-bottom: 20px;
    }
    .img_top{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

}

/*--------------------------------------------------------------------------------------------------*/

/*---------------------------
DROPDOWN MENU
---------------------------*/
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
    right: auto;
    background-color: #FF5B72;
    display: none;
    position: absolute;
    min-width: 160px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-top: 24px;
    padding-bottom: 20px;
    z-index: -2;
}

.dropdown-content a {
    color: white;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    animation-delay: 0.5s;
    animation: height 0.7s;
}
.dropdown:hover #drop2{
    left:-10px;
}

.dropdown:hover .l2{
    color:white;
    background-color: #FF5B72;
    padding: 27px 20px;
    opacity: 1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    transition: 0.5s ease;
}

.dropdown:hover .l3{
    color:white;
    background-color: #FF5B72;
    padding: 27px 30px;
    margin: 0px -10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    transition: 0.5s ease;
}

@media(max-width: 1000px){
    .dropdown-content{
        min-width: 20px;
        margin-top: 30px;
    }
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 1s ease-in-out;
}

.dropdown-content a:hover {
    background-color: rgb(0,0,0,.05);
    transition: all 0.3s ease-in-out;
}

@media(max-width: 1000px){
    .dropdown-content{
        min-width: 20px;
        margin-top: 20px;
    }
}

@keyframes height {
    0%{
        opacity: 0;
        transform: scaleY(0);
        transform: scaleX(0);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
        transform: scalex(1)


    }

}

.ttbel{
    text-align: center;
    font-size: 20px;
}
/*-----------------------------------------------------------------------------*/

#div1{
    height: 800px;
    background-image: url(image/BACKGROUNG@2x.png);
    background-clip: content-box;
    background-size: cover;
}

#div2{
    margin-top: -800px;
    height: 800px;
    background-image: url(image/BACKGROUNG.svg);
    background-clip: content-box;
    background-size: cover;
    margin-bottom: 102px;
}


#div1 h1{
    color: white;
    text-align: center;
    padding: 200px 0px 20px;
    font-size: 51px;
    z-index: 1;
}

#div1 h3{
    color: #FFC78F;
    text-align: center;
    font-size: 30px;
    z-index: 1;

}
/*-----------------------------------------------------------------------------*/

/*---------------------------
RECENT NEWS
---------------------------*/
#recent-news{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

#news{
    border-radius: 50px;
    box-shadow: 5px 1px 60px 10px #ADADAD;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#news article{
    max-width: 680px;
    margin: auto auto;
    padding: 20px 20px;
    border-radius: 50px;
    align-content: center;
    box-shadow: 5px 1px 60px 10px #ADADAD;
    z-index: 1;
}

#recent-news h1{
    text-align: center;
    color: #FF5B72;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 84px;
}
.img{
    margin-left: 50px;
    float: right;
}
#recent-news h4{
    font-size: 20px;
    color:#FF5B72;
    font-weight: 200;
    margin: 24px 0px 39px 0px;
}
#recent-news p{
    font-size: 15px;
    margin-bottom: 30px;
    
}

#recent-news a{
    text-decoration: underline;
}

.botton1 {
    float: left;
    text-align: center;
    color: #FF5B72;
    font-size: 40px;
    margin-top: 10%;
    
}
.botton1:hover{
    transition: ease-in-out 0.5s;

    text-align: center;
    background-color: #FF5B72;
    color: #fff;
    border-radius: 20px;
    

    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: center;
    margin-left:-0.5rem;
}

.botton1:active{margin-left:-20px;}
.botton1:focus{
    transition: ease-in-out 0.5s;
    color: yellow;
}

.botton2 {
    float: right;
    
    margin-left:20px;
    text-align: center;
    color: #FF5B72;
    font-size: 40px;
    margin-top: 10%;
}

.botton2:hover{

    transition: ease-in-out 0.5s;
    background-color: #FF5B72;
    color: #fff;
    border-radius: 20px;
    
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: center;
    margin-right:-0.5rem;
}

.botton2:active{margin-right:-20px;}

/* ABOUT SECTION */
.about {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 110px;
}

.about__header {
    color: #FF5B72;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.about__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__text-wrapper {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.about__school-name {
    margin-bottom: 20px;
}

.about__photo {
    flex: 0 0 33%;
}

.about__photo img {
    width: 100%;
    border-radius: 60px;
    box-shadow: 2px 4px 6px 8px rgb(7,7,7,0.2);
}

.about__link:link,
.aboub__link:visited {
    color: var(--col-deepblue);
    border-bottom: 1px solid var(--col-deepblue);
    padding: 3px 0;
}



/*------------------------
SEVICES SECTOIN
-----------------------*/
.services {
    margin-top: 60px;
}

.services__container {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
}

.services__header {
    color: #FF5B72;
    font-size: 30px;
    text-align: center;
}

.service-item > *:not(:last-child) {
    margin-bottom: 30px;
}

.service-item{
    width: 302px;
    height: 450px;
    display: flex;
    background-color: #FFF6F8;
    flex-direction: column;
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 35px 40px;
    padding-top: 20px;
    border-radius: 30px;
    margin: 0px -15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all .4s;
}

.service-item__icon {
    font-size: 70px;
    color: #777;
    transition: color .9s;
}

.service-item__header {
    font-size: 18px;
    font-weight: bold;
}

.service-item__paragraph{
    font-size: 14px;
    text-align: match-parent;
    margin-bottom: 100px;
}

.after-hover:hover .service-item__icon{
    color: #FFF;
    transition: color .9s;
}

.service-item:hover {
    background-color: #FF5B72;
    color:white;
    margin: -0px -10px;
    margin-top: -25px;
    transition: all 0.5s ease-in-out;
    transform: translate(-5px,35px);
    position: relative;
}
/*-------------------------------------------------------------------------------------------*/



/*------------------------
FOOTER
-----------------------*/
.footer--wave{
    position: relative;
    width: 100%;
    height: 30vh;
    background-color:transparent;
    overflow: hidden;


}

.footer--wave .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(image/wave.png);
    background-size: 1000px 100px;

}

.footer--wave .wave.wave1{
    animation: wavey 5s linear infinite;
    z-index: 1000;
    animation-delay: -15s;
    opacity: 1;
    bottom:-10px;

}

.footer--wave .wave.wave2{
    animation: wavey2 10s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -10s;
    bottom:10px;

}


.footer--wave .wave.wave3{
    animation: wavey 20s linear infinite;
    z-index: 998;
    opacity: 0.7;
    animation-delay: -5s;
    bottom:5px;

}

.footer--wave .wave.wave4{
    animation: wavey2 25s linear infinite;
    z-index: 997;
    opacity: 0.1;
    animation-delay: 0s;
    bottom:40px;

}


@keyframes wavey{
    0%{
        background-position-x: 0;
    }

    0%{
        background-position-x: 1000px;
    }
}

@keyframes wavey2{
    0%{
        background-position-x: 0;
    }

    0%{
        background-position-x: -1000px;
    }
}
/*-------------------------------------------------------------------------------------------*/




/*------------------------
FOOTER
-----------------------*/
footer{
    position: relative;
    width: 100%;
    height: 50vh;
    background: #FF5B72;
    overflow: hidden;
    padding: 0px 20px;
    padding-top: 50px;
    display: flex;
    flex: row;
    justify-content: space-around;

}


.footer--section{
    color: white;
}

.sec1 p{
    font-size: 14px;
    line-height: 3;
}
/*--------------*/
.sec2{
    line-height: 6;
}
.sec2 .text{
    position: relative;
    top: -13px;
    left: -25px;
    font-family: "Helvetica";
    text-shadow: 5px 5px 5xp #fff;
    color:white;
    text-decoration: none;

}
 .sec2 .t1{
    left: -33px;
}
.sec2 #ico1{
    z-index: -2;
    font-size: 50px;
    text-align: center;
}
.sec2 #ico2{
    position: relative;
    color:#FF5B72;
    top: -5px;
    bottom: 50%;
    left: -35px;
    font-size: 35px;
    z-index: 2;
    text-shadow: 9px 7px 10px rgb(7,7,7,0.2);
}

.sec2 #ico3{
    position: relative;
    color:#FF5B72;
    top: -7px;
    left: -42px;
    font-size: 30px;
    z-index: 2;
}

/*--------------*/
.sec3 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 2;
}
.sec3 a:hover{
    cursor: pointer;
    text-decoration: underline;
}
/*--------------*/

.sec4 .text-edit{
    margin-top: 26px;
    cursor: text;
    color:white;
    width: 153px;
    height: 34px;
    padding: 5px 15px;
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #FFF;
    border-right: none;
    box-shadow: 1px 0px 3px 0px rgb(7,7,7,0.6);

}
.sec4 .text-edit:hover{
    border: 1px solid #A8C7E9;
}
.sec4 .text-edit:focus{
    outline: none !important;
    border-color: #719ECE;
    border-right: none;
    background-color: white;
    color:black;
    z-index: 1;
}
::placeholder {
    color: white;
}
.sec4 .button{
    color: #FF5B72;
    outline: none !important;
    cursor: pointer;
    width:50px;
    height: 34px;
    margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    box-shadow: 1px 0px 3px 0px rgb(7,7,7,0.6);
    border: 1px solid #FFF;
}
.sec4 .button:hover{
    border: 1px solid #A8C7E9;
}
.sec4 .button:active{
    outline: none !important;
    border: 2px solid #719ECE;
    background-color: #F3F5F7;
}


.sec5 iframe{
    border-radius: 5px;
    box-shadow: 1px 0px 3px 0px rgb(7,7,7,0.6);
}


/* ---------------------------------------------------- */

.contacts {
    margin: 50px auto;
    padding: 50px 80px;
    max-width: 1140px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.contacts__wrapper {
    display: flex;
}

.contacts__wrapper > * {
    flex: 0 0 50%;
}

.contacts__info {
    margin-right: 30px;
    border-right: 1px solid #FF5B72;
    padding-right: 40px;
}

.contacts__header {
    color: #FF5B72;
    margin-left: -10px;
    margin: 0 0 25px -20px;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contacts__email {
    color: #FF5B72;
}

.contacts__phone {
    margin-top: 30px;
}

.contacts__nums {
    display: flex;
    justify-content: space-between;
    color: #FF5B72;
    margin-bottom: 20px;
}

.contacts__map:link,
.contacts__map:visited {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 5px;
    margin-top: 10px;
    display: inline-block;
    color: inherit;
}

.contacts__address {
    color: #FF5B72;
}

.inputs input {
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #FF5B72;
    width: 80%;
    margin: 20px auto;
}

.inputs input::placeholder {
    color: #FF5B72;
}

